body {
    padding-top: 0;
    margin: 0;
}

#divTools {
    z-index: 5;
    position: fixed;
    height: 61px;
    width: 100%;
    color: rgb(22, 21, 21);
    border-bottom: 1px solid #403a3a;
    background: rgb(22, 21, 21);
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;
}

#divEdit {
    z-index: 5;
    position: fixed;
    display: inline-flex;
    left: 0%;
    top: 61px;
    margin-left: 0px;
    width: 120px;
    height: 100%;
    background: rgba(88, 79, 73, 0.78);
    border-right: 1px solid #403a3a;
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;
    font-family: inherit;
}

.editRectangle {
    margin: 5px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

#divCanvas {
    z-index: 0;
    position: absolute;
    margin-left: -200px;
    left: 50%;
    top: 71px;
    width: 400px;
    height: 400px;
}

#canvas {
    z-index: 1;
    margin: 0;
    position: absolute;
    border: 1px solid gray;
}

#svg {
    margin: 0;
    position: absolute;
}

.text {
    z-index: 6;
    font-size: 13px;
    line-height: 32px;
    font-family: inherit;
    text-align: center;
    color: white;
    position: absolute;
}

.textButton {
    display: block;
    background: rgba(63, 58, 55, 0.78);
    z-index: 6;
    align-self: center;
    align-content: center;
    align-items: center;
    width: 90%;
    font-size: 13px;
    line-height: 32px;
    font-family: inherit;
    text-align: center;
    color: white;
    position: relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-margin-before: 10px;
    -webkit-margin-after: 10px;
    margin-left: 5%;
    margin-left: 5%;
    border-radius: 5px;
    cursor: pointer;
}

.textButton:hover {
    box-shadow: rgb(204, 204, 204) 0px 0px 10px;
}

.textButton:active {
    background: rgba(39, 37, 36, 0.78);
    box-shadow: rgb(94, 221, 211) 0px 0px 10px;
}

.button {
    cursor: pointer;
    z-index: 6;
    width: 19px;
    height: 19px;
    position: absolute;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.button:active {
    background: rgba(39, 37, 36, 0.78);
    box-shadow: rgb(49, 211, 197) 0px 0px 14px;
}

.button:hover {
    transform: scale(1.2);
    box-shadow: rgb(204, 204, 204) 0px 0px 10px;
}

.drawing {
    cursor: pointer;
    z-index: 6;
    width: 19px;
    height: 19px;
    position: absolute;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.drawing:hover {
    transform: scale(1.2);
    box-shadow: rgb(204, 204, 204) 0px 0px 10px;
    background: rgb(49, 211, 197);
    visibility: 0.2;
}

.vertice {
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 3;
    width: 11px;
    height: 11px;
    opacity: 0.7;
}

.vertice:hover {
    transform: scale(1.2);
    opacity: 1;
    cursor: move;
}

line {
    position: absolute;
    opacity: 1;
}

line:hover {
    opacity: 0.7;
    box-shadow: rgb(204, 204, 204) 0px 0px 10px;
}

polygon {
    position: absolute;
    opacity: 1;
}

polygon:hover {
    opacity: 0.8;
    box-shadow: rgb(204, 204, 204) 0px 0px 10px;
}